<!DOCTYPE html>
<html>
    <head lang="zh">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8" /> 
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="yes" name="apple-touch-fullscreen"/>
        <meta content="telephone=no" name="format-detection"/>
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta content="#ffffff" name="msapplication-TileColor" />
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
        <title>Kiss 618</title>
        <link rel="stylesheet" href="/skin/index.css"/>
    </head> 
    <body>  
        <div class="swiper-container">
            <div class="music-box">
                <div class="music music-roll" id="music"></div>
                <div class="heart1 heart-propagation"></div>
                <div class="heart2 heart-propagation"></div>
                <div class="heart3 heart-propagation"></div>
                <div class="heart4 heart-propagation"></div>
            </div>


            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="section fore1">
                        <div class="login">
                            <div class="loading-box">
                                <div class="loading"></div>
                                <div class="loading"></div>
                                <div class="loading"></div>
                                <div class="loading"></div>
                                <div class="loading"></div>
                                <div class="loading"></div>
                                <div class="loading"></div>
                                <div class="loading"></div>
                            </div>
                        </div>
                    </div>
                    <audio id="bgaudio" src="/audio/bgmusic.mp3" loop></audio>
                    <audio id="kissesaudio" src="/audio/kisses.mp3"></audio>
                    <audio id="kissaudio" src="/audio/kiss.wav"></audio>
                </div>
                <div class="swiper-slide">
                    <div class="section fore2">
                        <div class="kiss-text"><img src="/skin/i/kiss-text-1.png" alt=""><div class="kiss kiss-pulse"></div></div>
                        <div class="kiss-blue"><img src="/skin/i/kiss-blue.png" alt=""></div>
                        <div class="it-text"><div class="it-text-shadow"></div><img src="/skin/i/it-text.png" alt=""></div>
                        <div class="tap-tip"><img src="/skin/i/tap-everwhere.png" alt=""></div>
                        <div class="logo"></div>
                        <div class="up"></div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="section fore5">
                        <div class="run-man1" id="run-man1">
                            <div class="arm" id="arm"></div>
                        </div>
                        <div class="box">
                            <!-- <div class="run-encourage" id="run-encourage"></div> -->
                            <div class="run-type1 hide fl run-type" id="run-type1"></div>
                            <div class="run-type2 hide fr run-type" id="run-type2"></div>
                            <div class="run-type3 hide fl run-type" id="run-type3"></div>
                            <div class="run-type4 hide fr run-type" id="run-type4"></div>
                        </div>

                        <div class="logo"></div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="section fore6">
                        <div class="sad">
                            <ul>
                                <li>
                                    <p class="fl" id="kiss_employee_01">
                                        <span class="sad-cover" style="top:15px;">
                                            <img src="/skin/i/sad01-cover.png" >
                                        </span>
                                        <img src="/skin/i/sad01.png"  class="sad-swing sad-swing-hide">
                                        <i class="kiss-num01">32000</i>
                                        <b class="sad-point" style="top:22%;"></b>
                                        <span class="sad-kiss zoomIn">
                                            <img src="/skin/i/sad-kiss.png" >
                                        </span>
                                    </p> 
                                    <p class="fr" id="kiss_employee_02">
                                        <span class="sad-cover">
                                            <img src="/skin/i/sad02-cover.png">
                                        </span> 
                                        <span class="sad03-cover"></span>
                                        <img src="/skin/i/sad02.png"  class="sad02-swing sad-swing-hide">
                                        <i class="kiss-num02">123</i>
                                        <b class="sad-point"></b>
                                        <span class="sad-kiss zoomIn">
                                            <img src="/skin/i/sad-kiss.png" >
                                        </span>
                                    </p>
                                </li>
                                <li>
                                    <p class="fl" id="kiss_employee_03">
                                        <span class="sad-cover" style="left:-9px;">
                                            <img src="/skin/i/sad03-cover.png">
                                        </span>
                                        <img src="/skin/i/sad03.png"  class="sad03-swing sad-swing-hide"  >
                                        <i class="kiss-num03">100000</i>
                                        <b class="sad-point" style="top:32%;"></b>
                                        <span class="sad-kiss zoomIn">
                                            <img src="/skin/i/sad-kiss.png" >
                                        </span>
                                    </p>
                                    <p class="fr" id="kiss_employee_04">
                                        <span class="sad-cover" style="top:-16px; left:4px;">
                                            <img src="/skin/i/sad04-cover.png" >
                                        </span>
                                        <img src="/skin/i/sad04.png"  class="sad04-swing sad-swing-hide" >
                                        <i class="kiss-num04">56</i>
                                        <b class="sad-point"></b>
                                        <span class="sad-kiss zoomIn">
                                            <img src="/skin/i/sad-kiss.png" >
                                        </span>
                                    </p>
                                </li>
                            </ul>
                            <div class="change-w">
                                <div class="change-flash">
                                    <img src="/skin/i/change01.png">
                                </div>
                                <a href="javascript:;" class="change">

                                    <img src="/skin/i/change02.png">
                                </a>
                            </div>

                        </div>
                        <!-- <div class="sad-w"></div> -->
                        <div class="sad-popup">
                            <div class="sad-popup-in">
                                <div class="sp-kiss happy-bounceIn">
                                    <img src="/skin/i/sad-kiss.png" width="160" height="140">
                                </div>
                                <div class="sp-skin01">
                                    <img src="/skin/i/popup-skin01.png" >
                                </div>
                                <div class="sp-people">
                                    <img src="/skin/i/happy-people01.png" >
                                </div>
                                <div class="sp-del">
                                    <img src="/skin/i/happy-del.png" >
                                </div>
                                <div class="sp-txt sp-txt-rotate">
                                    我词穷了我词穷了我词穷了我词穷了~#@￥我是2货我是2货我是2货~~
                                </div>
                            </div>
                            <div class="happy-point">
                                <div class="hp-prize" style="display:block;">
                                    <p>初次见面，送你</p>
                                    <p>自营图书图书券</p>
                                    <p class="hp-big">抽奖活动已结束</p>
                                </div>
                                <div class="hp-noprize" style="display:none;">
                                    <p>&nbsp;&nbsp;香吻不停</p>
                                    <p>&nbsp;&nbsp;礼送不停</p>
                                </div>
                                <div class="hp-nochange" style="display:none;">
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;分享好友</p>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;让kiss来得</p>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;更猛烈些吧！</p>
                                </div>
                            </div>
                            <div class="happy-goto618">
                                <a href="http://click.union.jd.com/JdClick/?unionId=303589713&to=http://wqs.jd.com/promote/2015/618yxgfen/nanzhuang.html?PTAG=17007.4.4&ptype=1&wc_scene=1" class="fl">
                                    进入618会场
                                </a>
                                <a href="javascript:;" class="fr hg-del">
                                    继续kiss~
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/javascripts/zepto.min.js"></script> 
        <script type="text/javascript" src="/javascripts/swiper.min.js"></script> 
        <script type="text/javascript" src="/javascripts/slide.js"></script>
        <script type="text/javascript" src="/javascripts/jquery-1.11.3.min.js"></script>
    </body>
</html>