<% include header.html %>
<div data-role="page">
    <div data-role="header">
        <h1><%= title %></h1>
        <a href="/logout" data-role="button" data-icon="gear">退出</a>
    </div>
    <div data-role="content">
        <div class="ui-grid-d center">
            <div class="ui-grid-d">
                <div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:60px;background-color: red"></div></div>
                <div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:60px">Block B</div></div>
                <div class="ui-block-c"><div class="ui-bar ui-bar-a" style="height:60px">Block B</div></div>
                <div class="ui-block-d"><div class="ui-bar ui-bar-a" style="height:60px">Block B</div></div>
                <div class="ui-block-e"><div class="ui-bar ui-bar-a" style="height:60px">Block B</div></div>
                <div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:60px">Block A</div></div>
                <div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:60px">Block B</div></div>
                <div class="ui-block-c"><div class="ui-bar ui-bar-a" style="height:60px">Block B</div></div>
                <div class="ui-block-d"><div class="ui-bar ui-bar-a" style="height:60px">Block B</div></div>
                <div class="ui-block-e"><div class="ui-bar ui-bar-a" style="height:60px">Block B</div></div>
                <div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:60px">Block A</div></div>
                <div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:60px">Block B</div></div>
                <div class="ui-block-c"><div class="ui-bar ui-bar-a" style="height:60px">Block B</div></div>
                <div class="ui-block-d"><div class="ui-bar ui-bar-a" style="height:60px">Block B</div></div>
                <div class="ui-block-e"><div class="ui-bar ui-bar-a" style="height:60px">Block B</div></div>
                <div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:60px">Block A</div></div>
                <div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:60px">Block B</div></div>
                <div class="ui-block-c"><div class="ui-bar ui-bar-a" style="height:60px">Block B</div></div>
                <div class="ui-block-d"><div class="ui-bar ui-bar-a" style="height:60px">Block B</div></div>
                <div class="ui-block-e"><div class="ui-bar ui-bar-a" style="height:60px">Block B</div></div>
            </div>
        </div>
    </div>
    <div data-role="footer">
        <h1></h1>
    </div>
</div>
<% include footer.html %>