<% include ../header.html %>
<div class="container-fluid">
    <div class="row center-block clearfix">
        <div class="col-sm-6 col-md-6">
            <div id="kissme_divlist" class="thumbnail">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var employees = [], // 员工缓存数组
            unkiss = [], // 未被kiss的数组
            kissed = [], // 已被kiss的数组
            number = 4;  // 一次显示的数组长度

    $(function () {
        /**
         * 初始化操作，如果当前没有缓存，就使用ajax拉取数据
         * @returns {undefined}
         */
        var init = function () {
            // 当前没缓存，直接使用ajax加载
            if (employees.length === 0) {
                $.getJSON("/cache/kiss_jd_employee", function (data) {
                    employees = data;
                    render(random(employees));
                });
            } else {
                render(random(employees));
            }
        };

        /**
         * 随机生成指定【4】个图片
         * @param {type} employees
         * @returns {Array}
         */
        var random = function (employees) {
            // 申明临时对象，用于存储生成的对象数据
            var tmp = [];
            // 如果unkiss和kissed都为空，把employees赋值到unkiss中
            if (unkiss.length === 0 && kissed.length === 0)
                unkiss = employees.slice(0);
            var unkiss_length = unkiss.length;
            // 如果unkiss的数组长度足设定值，就先从kissed数组中补充
            var kiss_length = unkiss_length < number ? number - unkiss_length : 0;
            for (var i = 0; i < kiss_length; i++) {
                var _kissed = kissed.slice(0);
                // 随机一个数据出来
                var employee = _kissed.splice(randomIndex(_kissed.length), 1)[0];
                // 设置kissed状态
                employee.kissed = true;
                tmp.push(employee);
            }
            // 从unkiss中填充数据到tmp
            unkiss_length = unkiss_length < number ? unkiss_length : number;
            for (var i = 0; i < unkiss_length; i++) {
                var _unkiss = unkiss.slice(0);
                // 随机一个数据出来
                var employee = _unkiss.splice(randomIndex(_unkiss.length), 1)[0];
                tmp.push(employee);
            }
            return tmp;
        };

        /**
         * 渲染界面
         * @param {type} checked
         * @returns {undefined}
         */
        var render = function (checked) {
            var html = "";
            $.each(checked, function (i) {
                var row = checked[i];
                html += "<img src='/" + row.images + "'";
                html += " employeeid='" + row.id + "'";
                html += " name='" + row.name + "'";
                html += " kissed='" + row.kissed + "'";
                // 给图片添加一个点击事件
                html += " onclick='imgClick(this)'";
                html += " class='img-thumbnail kissme_img' data-holder-rendered='true'/>";
            });
            $("#kissme_divlist").html(html);
        };

        /**
         * 获取一个小于size的随机整数
         * @param {type} size
         * @returns {Number}
         */
        var randomIndex = function (size) {
            return Math.floor(Math.random() * size);
        };

        // 初始化
        init();

        /**
         * 点击图片后的操作
         * @param {type} data
         * @returns {undefined}
         */
        $("#kissme_divlist").click(function () {
            render(random(employees));
        });
    });

    // 点击图片操作
    var imgClick = function (data) {
        var thisImg = $(data);
        var kiss = thisImg.attr("kissed");
        if (kiss == "true") {
            alert("我脸都红了，不要再亲啦！");
        } else {
            alert("谢谢您的香吻，我们京东一定不会辜负您的期望！");
            thisImg.attr("kissed", true);
            var id = thisImg.attr("employeeid");
            if (unkiss.length !== 0) {
                kissme(id);
            }
        }
    };

    // kiss操作，把已经做了kiss操作的图片放置到kisssed数组
    var kissme = function (id) {
        for (var i = 0; i < unkiss.length; i++) {
            if (unkiss[i].id == id) {
                // 把数据从unkiss中移动到kissed中
                kissed.push(unkiss.splice(i, 1)[0]);
            }
        }
    };
</script>
<% include ../footer.html %>